<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nugan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="icon" href="/">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/content.css">
</head>

<body>
    <div class="hero" id="hero">
        <%- include("partials/header.ejs") %>

            <main>
                <div class="write">
                    <div class="vert">
                        <h3 class="first">I<span>'</span>m</h3>
                        <h1 class="intro">ODOFIN <br class="age"> NURUDEEN</h1>
                    </div>

                    <div class="vert-2">
                        <h3 class="third">I FLOURISH IN THE DIGITAL LANDSCAPE.</h3>
                    </div>

                    <div class="vert-3">
                        <p class="area">I build fast, user-focused apps, features and websites that users love to use.
                            Check out my portfolio to see what i've shipped. Currently available for freelance and
                            full-time opportunities - lets talk!. </p>
                    </div>

                    <div class="cta-1">
                        <a href="#contact" class="tag">Hire me </a>
                        <a href="#works" class="tag">check out my works</a>
                    </div>
                </div>

            </main>


            <!------About------>
            <section class="about" id="about">

                <div class="hey head">
                    <h2>About Me</h2>
                    <hr>
                </div>

                <div class="page">
                    <div class="me__img">                 
                           <img src="/styles/steeze.png" alt="" class="me" loading="lazy">
                    </div>

                    <div class="details">
                        <div class="head pom">
                            <p>About Me</p>
                            <hr>
                        </div>
                        <h3 class="track">Introduction.</h3>
                        <p>I'm Nurudeen, a passionate <b> full-stack developer</b>, with expertise in <b>JavaScript, React,
                                Node.js
                                and MongoDB</b>. I enjoy building scalable web applications, solving complex problems,
                            and
                            creating user-friendly experiences from <b> frontend to backend, databases and modern cloud
                                services like AWS and Vercel—always</b> choosing the right tool for the job.</p>
                        <p class="clash">My goal is to solve real-world problems with clean, maintainable code, writing systems that
                            scale gracefully under load. </p>
                        <p class="clash"> Outside of coding, I stay curious about emerging technologies, experiment with side
                            projects, and share what I learn along the way.
                            If you have a project in mind or just want to chat tech, let’s connect—I’d love to hear from
                            you.
                        </p>

                        <a href="">Let's Talk</a>
                    </div>
                </div>
            </section>

            <!------Services------>

            <section class="services" id="services">
                <div class="s-text">
                    <p class="doi">Services.</p>
                </div>

                <div class="s-show">
                    <div class="s-front class">
                        <div class="s-head">
                            <i class="fa-solid fa-asterisk"></i>
                            <p id="pluto">01</p>
                        </div>
                        <div class="toe">
                            <h3>Frontend Development</h3>
                            <p>Modern, responsive and visually appealing websites that solves user problems.</p>
                        </div>
                    </div>
                    <div class="s-back class">
                        <div class="s-head">
                            <i class="fa-solid fa-asterisk"></i>
                            <p id="pluto">02</p>
                        </div>
                        <div class="toe">
                            <h3>Backend Development</h3>
                            <p>Building robust and scalable backend systems with Node.js, Express, and Databases.</p>
                        </div>
                    </div>
                    <div class="s-full class">
                        <div class="s-head">
                            <i class="fa-solid fa-asterisk"></i>
                            <p id="pluto">03</p>
                        </div>
                        <div class="toe">
                            <h3>Full-stack Development</h3>
                            <p>I can work on both frontend and backend systems, integrating databases, and deploying
                                scalable applications.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!----recent works------>
            <section class="works" id="works">
                <div class="worked__p">
                    <p class="p__itself">Recent Works.</p>
                </div>

                <div class="explore">
                    <div class="beats dub">
                        <div class="descrip">
                            <img src="/styles/clbeat (1).jpg" alt="" class="claude">
                            <p class="beatz">Cloud Beatz</p>
                            <span class="tools">
                                <p class="p1">Tools:</p>
                                <p>HTML</p>
                                <p>CSS</p>
                                <p>JavaScript</p>
                            </span>
                            <p class="story">Explore the world of music with free playbacks and replays together with
                                qualty sounds that suits your everyday tasks.</p>
                        </div>

                        <div class="log">
                            <a href="https://cloudbeatz-player.vercel.app/">Live Website</a>
                            <a href="https://github.com/snyder444k/cloudbeatz-player" id="a__two">Github <i
                                    class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <div class="extension dub">
                        <div class="descrip">
                            <img src="/styles/calc.jpg" alt="" class="claude">
                            <p class="beatz">Age Calculator 2.0</p>
                            <span class="tools">
                                <p class="p1">Tools:</p>
                                <p>HTML</p>
                                <p>CSS</p>
                                <p>JavaScript</p>
                            </span>
                            <p class="story">No matter how old you are, Age Calculator 2.0 has been designed to give you
                                an accurate estimate of your age in Years, Months and Days.</p>
                        </div>

                        <div class="log">
                            <a href="https://age-calculator-2-0.vercel.app/">Live Website</a>
                            <a href="https://github.com/snyder444k/age-calculator-2.0" id="a__two">Github <i
                                    class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                    <div class="calculator dub">

                        <div class="descrip">
                            <img src="/styles/ATM.jpg" alt="" class="claude">
                            <p class="beatz">Card Simulator</p>
                            <span class="tools">
                                <p class="p1">Tools:</p>
                                <p>HTML</p>
                                <p>CSS</p>
                                <p>JavaScript</p>
                            </span>
                            <p class="story">Built to give you a virtual version of your ATM card, anywhere anytime.</p>
                        </div>

                        <div class="log">
                            <a href="https://atm-card-gen.vercel.app/">Live Website</a>
                            <a href="https://github.com/snyder444k/ATM-card-gen" id="a__two">Github <i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                </div>
            </section>
          <!------contact------->
            <section class="contact" id="contact">
           <div class="form_mom">
              
              <form action="https://formspree.io/f/xzdazvye" method="post" class="form">
                <p class="nugan">Nugan</p>
                <h2>Have a project <span>in mind?</span> </h2>
                <input type="text" name="name" id="name" placeholder="Your Name">
                <input type="email" name="email" id="email" placeholder="Your Email">
                <textarea name="message" id="message" placeholder="Your Message..."></textarea>
                <button type="submit" id="submit">Send Message</button>

                </textarea>
              </form>
           </div>

           <div class="form_descrip">
              <h1 class="reach">Let's talk.</h1>
              <p class="mark">Tell us about your project-whether it's a website,<br> app or e-commerce.</p>
              <div>

                <div class="fund">
                <div class="res">
                    <p><i class="fa-solid fa-gauge-high"></i> Quick responses.</p>
                    <p class="fic">We will respond to your message <br> as soon as you're ready.</p>
                </div>
                <div class="res">
                   <p><i class="fa-solid fa-stairs"></i> Precise next actions.</p>
                    <p class="fic">We will respond to your message <br> as soon as you're ready.</p>
                </div>


                </div>

               

              </div>

               
                <div class="outreach" >
                    <p><i class="fa-solid fa-phone"></i>+2348144118231</p>
                    <p><i class="fa-solid fa-envelope"></i>nurudeenodofin85@gmail.com</p>
                </div>
           </div>

              

            </section>

    

            <%- include("partials/footer.ejs") %>
    </div>



    <script charset="utf_8">
     var navMenu = document.querySelector(".sub_nav");
     const mediaQuery = window.matchMedia("(max-width:799px)");
     var navLink = document.querySelectorAll(".sub_nav ul li a");

     function openMenu() {
         navMenu.style.top = "0";
     }

     function closeMenu() {
         navMenu.style.top = "-100%";
     }

       function screenChange(evt) {
        if(evt.matches) {

       navLink.forEach(link => {
        link.addEventListener("click", closeMenu);
       });

        } else {
            evt.preventDefault();
        }
       }

       screenChange(mediaQuery);
    </script>
</body>

</html>